@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:ital,wght@0,800;1,300;1,400&display=swap');
li{
    list-style: none
}
.headless{
    font-family: 'Architects Daughter', cursive;

}
.navbar{
    color: white;
    justify-content: space-between !important;
    align-items: center !important;
    max-height: 45px;
    text-align: right;
}
.btnav{
    color: white
}
.dropdown-item:active{
    background-color: #198754
}

.nav-link{
    color: white
}
.nav-link:hover{
    color: white
}
.nav-link:active{
    color: white;
}

.ovf{
    overflow-y: scroll;
    max-height: 200px;
    color: gray !important;
    min-width: 300px
  }
.media-body{
    font-size: 14px
}
::-webkit-scrollbar-thumb {
    
    border-radius: 8px;
    background: #198754;
    box-shadow: inset 0 0 5px rgb(255, 255, 255);
  }
    ::-webkit-scrollbar {
        width: 10px;
        
    }
  ::-webkit-scrollbar-track {
    border-radius: 8px;
  }

/*   @keyframes backchange{
    0%{
        background-image: url(../img/paysage-rural-maisons-madagascar.jpg);
        
    }
    25%{
        background-image: url(../img/DSCN3987.JPG);
    }
    50%{
        background-image: url(../img/riz.jpeg);
    }
    75%{
        background-image: url(../img/fruits33_letchis_-_credit_irt_-_serge_gelabert_dts_12_2018-1920x960.jpg);
    }
    100%{
        background-image: url(../img/paysage-rural-maisons-madagascar.jpg);
        
    }
} */
body{
/*     animation: backchange 25s infinite forwards;
    
    background-attachment: fixed;
    background-repeat: no-repeat; */
  /*   background: rgb(63,251,231);
    background: radial-gradient(circle, rgba(63,251,231,1) 0%, rgba(70,252,150,1) 100%); */
    overflow-x: hidden;
}


.colonne1{
    background-color: rgb(29, 29, 29) !important;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
.colonne4{
    background-color: #d6f4e2 !important;
    color: #727272
}
  .colonne2{
    color: #727272;
  }
  .colonne3{
    background-color: #ade8c4 !important;
    color: #727272;
  }
table{
    background-color: white
}
.blue{
    background-color: #b7b7b7 !important;
}
.red{
    background-color: #ade8c4 !important;
}
@media screen and (max-width: 600px){
  nav h6{
      display: none
  }
}